$container-width: 77vw;
$container-padding: 1.33rem;

//Spacing
$sp-5: 2.67rem;
$sp-4: 1.83rem;
$sp-3: 1.72rem;
$sp-2: 1.61rem;
$sp-1: 1.44rem;

$spaces-theme: (
    'sp-5': $sp-5,
    'sp-4 ': $sp-4,
    'sp-3': $sp-3,
    'sp-2 ': $sp-2,
    'sp-1': $sp-1,
);
